{{- $res := .Page.Resources.GetMatch .Destination}}

{{- if $res }}
    {{- $jpg := $res.Fit "500x500 jpg q80" }}
    {{- $webp := $res.Fit "500x500 webp q80" }}
    <figure>
    <a href="{{ .Destination | safeURL }}" target="_blank" onclick="showOverlay(event)">
        <picture>
            <source type="image/webp" srcset="{{ $webp.RelPermalink | safeURL }}" width="{{ $webp.Width }}" height="{{ $webp.Height }}" />
            <img src="{{ $jpg.RelPermalink | safeURL }}" {{ with .Text}} alt="{{ . }}"{{ end }} {{ with .Title}} title="{{ . }}"{{ end }} width="{{ $jpg.Width }}" height="{{ $jpg.Height }}" loading="lazy" />
        </picture>
    </a>
    {{- with .Text }}
        <figcaption>{{ . }}</figcaption>
    {{- end }}
    </figure>
{{- else }}
    <figure>
        <img src="{{ .Destination | safeURL }}" {{ with .Text}} alt="{{ . }}"{{ end }} {{ with .Title}} title="{{ . }}"{{ end }} loading="lazy"/>
    </figure>
{{- end}}